<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks | Django</title>
</head>
<body>
    <h1>Tasks</h1>
    {% for task in tasks %}
    <p>{{ task }} - {{ task.done }}</p>
    <a href="/toggle/{{ task.id }}"><button>Toggle</button></a>
    <a href="/delete/{{ task.id }}"><button>Delete Item</button></a>
    {% endfor %}
    <hr>
    <form method=POST>
        {% csrf_token %}
        {{ add_task_form.as_p }}
        <button type="submit">Add Task</button>
    </form>
</body>
</html>